* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url(./images/factory1.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
}
nav {
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.tel {
  display: flex;
  gap: 10px;
}
.tel p {
  font-size: 18px;
}
.email {
  display: flex;
  gap: 10px;
}
.lang {
  display: flex;
  gap: 10px;
}
.head {
  padding: 20px 5%;
  display: flex;
}
.left_head h1 {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
}
.left_head {
  width: 50%;
  margin-top: 150px;
}
.left_head p {
  color: white;
  font-size: 22px;
  line-height: 30px;
  margin-top: 30px;
}
.btn_left {
  background-color: #0e9e2f;
  color: white;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  margin-top: 80px;
}
.right_left {
  position: relative;
}
.what {
  position: absolute;
  bottom: 50px;
  right: 60px;
  background-color: white;
  border-radius: 50%;
}
.burger {
  display: none;
}
.products {
  background-color: #686868;
  padding: 20px 5%;
}
.text_sec1 h2 {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}
.text_sec1 p {
  color: white;
  width: 40%;
  font-size: 18px;
  margin: 20px 0px;
}
.card {
  background-color: #535353;
  width: 380px;
  height: 450px;
  padding: 20px;
  border-radius: 0px 100px 0px 0px;
}
.card h6 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
.card p {
  color: white;
  font-size: 20px;
  margin: 10px 0px;
}
.card button {
  background-color: #0e9e2f;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 40px;
  font-size: 18px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.made {
  display: flex;
  gap: 50px;
}
.people {
  width: 750px;
  height: 380px;
}
.sec2 {
  padding: 20px 5%;
}
.sec2 h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0px;
}
.left_made h3 {
  font-size: 28px;
  color: #0e9e2f;
  text-transform: uppercase;
  margin: 20px 0px;
}
.left_made p {
  margin: 10px 0px;
  font-size: 20px;
  color: #92938f;
}
.images {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.imgs {
  width: 420px;
  height: 220px;
}
.mades {
  margin: 50px 0px;
}
.sec2_hidden {
  display: none;
}
@media (max-width: 510px) {
  .background {
    width: 100%;
  }
  .links {
    display: none;
  }
  .tel {
    display: none;
  }
  .email {
    display: none;
  }
  .lang {
    display: none;
  }
  nav {
    display: flex;
    background-color: #313131;
  }
  .burger {
    display: block;
  }
  .head {
    width: 100%;
  }
  .left_head {
    width: 100%;
  }
  .left_head h1 {
    width: 100%;
    font-size: 30px;
  }
  .left_head p {
    font-size: 20px;
    line-height: 180%;
  }
  .background {
    width: 100%;
    height: 850px;
  }
  .right_head {
    width: 100%;
  }
  .what {
    position: absolute;
    bottom: -40px;
    right: 20px;
  }
  .btn_left {
    width: 100%;
    height: 60px;
  }
  .products {
    width: 100%;
  }
  .cards {
    width: 100%;
    flex-direction: row;
    overflow: auto;
    flex-wrap: nowrap;
  }
  .card {
    width: 100%;
  }
  .text_sec1 {
    width: 100%;
  }
  .text_sec1 p {
    width: 100%;
  }
  .sec2_hidden {
    display: block;
  }
  .mades {
    display: none;
  }
  .media_img {
    width: 100%;
  }
  .main {
    display: none;
  }
  .sec2_hidden h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #494b44;
    text-align: center;
    margin: 20px 0px;
  }
  .btn_media1 {
    width: 340px;
    height: 50px;
    background-color: #0e9e2f;
    color: white;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 20px 0px;
    gap: 10px;
  }
  .poligon {
    width: 13px;
    height: 13px;
  }
  .sec2_hidden h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #494b44;
    margin: 20px 0px;
  }
  .sec2_hidden p {
    color: #92938f;
    margin: 10px 0px;
    font-size: 19px;
    line-height: 24px;
  }
  .btn_media1 p{
    color: white;
  }
}
