* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url(./images/factory1.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
}
nav {
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.tel1 {
  display: flex;
  gap: 10px;
}
.tel1 p {
  font-size: 18px;
}
.email1 {
  display: flex;
  gap: 10px;
}
.lang {
  display: flex;
  gap: 10px;
}
.head {
  padding: 20px 5%;
  display: flex;
}
.left_head h1 {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
}
.left_head {
  width: 50%;
  margin-top: 150px;
}
.left_head p {
  color: white;
  font-size: 22px;
  line-height: 30px;
  margin-top: 30px;
}
.btn_left {
  background-color: #0e9e2f;
  color: white;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  margin-top: 80px;
}
.right_left {
  position: relative;
}
.what {
  position: absolute;
  bottom: 50px;
  right: 60px;
  background-color: white;
  border-radius: 50%;
}
.burger {
  display: none;
}
.products {
  background-color: #686868;
  padding: 20px 5%;
}
.text_sec1 h2 {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}
.text_sec1 p {
  color: white;
  width: 40%;
  font-size: 18px;
  margin: 20px 0px;
}
.card {
  background-color: #535353;
  width: 380px;
  height: 450px;
  padding: 20px;
  border-radius: 0px 100px 0px 0px;
}
.card h6 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
.card p {
  color: white;
  font-size: 20px;
  margin: 10px 0px;
}
.card button {
  background-color: #0e9e2f;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 40px;
  font-size: 18px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.made {
  display: flex;
  gap: 50px;
}
.people {
  width: 750px;
  height: 380px;
}
.sec2 {
  padding: 20px 5%;
}
.sec2 h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0px;
}
.left_made h3 {
  font-size: 28px;
  color: #0e9e2f;
  text-transform: uppercase;
  margin: 20px 0px;
}
.left_made p {
  margin: 10px 0px;
  font-size: 20px;
  color: #92938f;
}
.images {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.imgs {
  width: 420px;
  height: 220px;
}
.mades {
  margin: 50px 0px;
}
.sec2_hidden {
  display: none;
}
.sec3 {
  background-image: url(./images/Вход-1\ 1.png);
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
  margin: 0 auto;
}
.sides3 {
  display: flex;
}
.right_sec3 {
  background-color: #0e9e30d4;
  height: 90vh;
  margin-top: 74px;
  color: white;
  padding: 60px 5%;
  border-radius: 0px 120px 0px 0px;
  margin-right: 40px;
  width: 1000px;
}
.text h6 {
  font-size: 30px;
  margin: 20px 0px;
}
.text p {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 28px;
}
.left_sec3 h1 {
  font-size: 40px;
  color: white;
  width: 80%;
  padding-top: 100px;
  text-transform: uppercase;
}
.left_sec3 {
  padding: 20px 5%;
}
.file {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #0e9e2f;
  margin: 40px 0px;
}
.stock {
  color: #d2d2d2;
  font-size: 18px;
  width: 50%;
  line-height: 30px;
}
.geography {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec4 {
  padding: 20px 5%;
}
.geography h2 {
  font-size: 40px;
  color: #494b44;
  text-transform: uppercase;
}
.map {
  margin: 20px 10px;
}
.sec5 {
  background-image: url(./images/mens.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 60%;
  height: 55vh;
}
.sec5 h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  padding-top: 80px;
}
.sec5 {
  text-align: center;
}
.sec5 p {
  font-size: 24px;
  color: white;
  width: 40%;
  margin: 40px auto;
  line-height: 30px;
}
.sec5 button {
  padding: 14px 50px;
  background-color: #0e9e2f;
  color: white;
  border: none;
  font-size: 18px;
}
.vectors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec6 {
  padding: 20px 5%;
}
.sec6 h2 {
  font-size: 30px;
  color: #494b44;
  text-transform: uppercase;
}
.overflow {
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 20px;
  margin-top: 20px;
}
.vectex {
  display: flex;
  gap: 10px;
}
.vec_sec7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec7 {
  padding: 20px 5%;
}
.vec_sec7 h2 {
  color: #494b44;
  font-size: 30px;
  text-transform: uppercase;
  margin: 40px 0px;
}
.vectex p {
  color: #0e9e2f;
}
.date {
  width: 30%;
}
.dates {
  display: flex;
  justify-content: space-between;
}
.date_img {
  width: 420px;
  height: 250px;
}
.date h6 {
  font-size: 24px;
  color: #494b44;
  font-weight: 400;
  width: 70%;
  margin: 10px 0px;
}
.date p {
  color: #92938f;
  line-height: 24px;
  font-size: 18px;
  margin: 10px 0px;
}
span {
  color: #0e9e2f;
  font-size: 18px;
}
.sec8 {
  background-image: url(./images/tod-s-lgnEI45raTI-unsplash.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
  color: white;
}
.left8 {
  padding: 50px;
}
.left8 h2 {
  font-size: 40px;
  text-transform: uppercase;
  width: 60%;
  line-height: 50px;
  margin-top: 60px;
}
.quest {
  color: #d2d2d2;
  font-size: 24px;
  width: 60%;
  margin: 30px 0px;
}
.bord {
  border: 1px solid green;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.okk {
  display: flex;
  gap: 10px;
  align-items: center;
}
.okk p {
  width: 40%;
  font-size: 18px;
}
.circles {
  display: flex;
  gap: 10px;
}
.right8 {
  background-color: #0e9e2f;
  width: 900px;
  height: 650px;
  margin: 30px 30px 30px 0px;
  border-radius: 0px 90px 0px 0px;
  padding: 40px;
}
.flex_sec8 {
  display: flex;
}
label {
  display: block;
  font-size: 20px;
  margin-top: 20px;
}
.text_input {
  width: 450px;
  height: 40px;
  padding-left: 10px;
}
.tel_flex {
  display: flex;
  gap: 40px;
}
.tel {
  width: 200px;
  height: 40px;
  padding-left: 10px;
}
.email {
  width: 200px;
  height: 40px;
  padding-left: 10px;
}
select {
  width: 450px;
  height: 40px;
  padding-left: 10px;
}
textarea {
  width: 450px;
  height: 100px;
  padding-left: 10px;
}
.checbox {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
.form_btn {
  padding: 14px 40px;
  background-color: transparent;
  border: none;
  border: 1px solid white;
  color: white;
  margin-top: 40px;
}
footer {
  background-color: #313131;
  padding: 40px 5%;
  color: white;
}
.foot {
  display: flex;
  justify-content: space-between;
  gap: 180px;
}
.rows {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.bot_foot {
  display: flex;
  gap: 150px;
  margin-top: 50px;
}
.log_foot {
  width: 30%;
  font-size: 20px;
}
.row p {
  font-size: 18px;
  /* width: 50%; */
  line-height: 30px;
}
.big {
  color: #787878;
  font-size: 30px;
  margin-bottom: 10px;
}
@media (max-width: 510px) {
  .background {
    width: 100%;
  }
  .links {
    display: none;
  }
  .tel {
    display: none;
  }
  .email {
    display: none;
  }
  .lang {
    display: none;
  }
  nav {
    display: flex;
    background-color: #313131;
  }
  .burger {
    display: block;
  }
  .head {
    width: 100%;
  }
  .left_head {
    width: 100%;
  }
  .left_head h1 {
    width: 100%;
    font-size: 30px;
  }
  .left_head p {
    font-size: 20px;
    line-height: 180%;
  }
  .background {
    width: 100%;
    height: 850px;
  }
  .right_head {
    width: 100%;
  }
  .what {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .btn_left {
    width: 100%;
    height: 60px;
  }
  .products {
    width: 100%;
  }
  .cards {
    width: 100%;
    flex-direction: row;
    overflow: auto;
    flex-wrap: nowrap;
  }
  .card {
    width: 100%;
  }
  .text_sec1 {
    width: 100%;
  }
  .text_sec1 p {
    width: 100%;
  }
  .sec2_hidden {
    display: block;
  }
  .mades {
    display: none;
  }
  .media_img {
    width: 100%;
  }
  .main {
    display: none;
  }
  .sec2_hidden h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #494b44;
    text-align: center;
    margin: 20px 0px;
  }
  .btn_media1 {
    width: 340px;
    height: 50px;
    background-color: #0e9e2f;
    color: white;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 20px 0px;
    gap: 10px;
  }
  .poligon {
    width: 13px;
    height: 13px;
  }
  .sec2_hidden h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #494b44;
    margin: 20px 0px;
  }
  .sec2_hidden p {
    color: #92938f;
    margin: 10px 0px;
    font-size: 19px;
    line-height: 24px;
  }
  .btn_media1 p {
    color: white;
  }
  .sec3 {
    width: 100%;
    height: 1340px;
  }
  .sides3 {
    flex-direction: column;
  }
  .left_sec3 {
    width: 100%;
  }
  .right_sec3 {
    width: 100%;
    padding-top: 15px;
  }
  .stock {
    width: 100%;
  }
  .sec4 {
    width: 100%;
  }
  .geography {
    flex-direction: column;
  }
  .map {
    width: 100%;
  }
  .truck {
    width: 100%;
  }
  .sec5 {
    display: none;
  }
  .vecs {
    display: none;
  }
  .sec6 {
    width: 100%;
  }
  .overflow {
    width: 100%;
  }
  .sec7 {
    width: 100%;
  }
  .dates {
    overflow: auto;
    gap: 20px;
  }
  .date {
    width: 100%;
  }
  .sec8 {
    width: 100%;
  }
  .flex_sec8 {
    width: 100%;
    flex-direction: column;
  }
  .left8 {
    width: 100%;
  }
  .right8 {
    width: 100%;
    border-radius: 0px;
  }
  .text_input,
  .tel,
  .email,
  select,
  textarea {
    width: 350px;
  }
  .quest {
    width: 100%;
  }
  footer {
    width: 100%;
    margin-top: 100px;
  }
  .foot {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .rows {
    flex-direction: column;
  }
  .bot_foot{
    flex-direction: column;
    gap: 10px;
  }
  .log_foot{
    width: 100%;
    margin-top: 600px;
    margin-bottom: 0px;
  }
}
